<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
              Recuperar Contraseña
          </div>
          <div class="icon">
            <i class='bx bx-lock-alt bx-tada'></i>
          </div>
          <p>Recientemente has solicitado restablecer tu contraseña, por favor sigue el proceso como se te indica. Por favor digita tu correo electronico registrado en la plataforma.</p>
          <form  [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()"  id="loginform">
            <mat-form-field class="full-width">
              <input matInput type="email"  placeholder="Correo" formControlName="Correo">
              <mat-error *ngIf="loginForm.controls['Correo'].hasError('required')">Digita el correo</mat-error>
              <mat-error *ngIf="loginForm.controls['Correo'].hasError('pattern')">El formato de correo es incorrecto recuerda que es example@example.com</mat-error>
            </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Recuperar</button>
            </form>
            <button mat-raised-button color="primary" (click)="cancelRecovery()">Cancelar</button>
      </div>
  </div>
</div>
