<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
              GYM ETITC
          </div>
          <div class="icon">
            <i class='bx bx-dumbbell bx-tada' ></i>
          </div>
          <form  [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()"  id="loginform">
            <mat-form-field class="full-width">
              <input matInput type="text"  placeholder="Correo" formControlName="Correo">
              <mat-error *ngIf="loginForm.controls['Correo'].hasError('required')">Digita el correo</mat-error>
              <mat-error *ngIf="loginForm.controls['Correo'].hasError('pattern')">El formato de correo es incorrecto</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Contraseña"  formControlName="Password">
              <mat-error *ngIf="loginForm.controls['Password'].hasError('required')">Digita la contraseña</mat-error>
            </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Ingresar</button>
          </form>
          <div class="pie-form">
              <p (click)="recovery()">¿Perdiste tu contraseña?</p>
              <p (click)="register()">¿No tienes Cuenta? Registrate</p>
          </div>
      </div>
      <div class="inferior">
          <a href="#"></a>
      </div>
  </div>
</div>
