<form [formGroup]="implementsForm" novalidate (ngSubmit)="onSubmit()" class="form-components">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registrar Implemento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="Nombre">
            <mat-error *ngIf="implementsForm.controls['Nombre'].hasError('required')">
              el nombre del implemento es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Categoria" formControlName="Categoria">
            <mat-error *ngIf="implementsForm.controls['Categoria'].hasError('required')">
              La categoria de la actividad es <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" formControlName="Descripcion">
            <mat-error *ngIf="implementsForm.controls['Descripcion'].hasError('required')">
              la Descripcion del implemento es <strong>Requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Crear</button>
    </mat-card-actions>
  </mat-card>
</form>
