.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  scroll-behavior: smooth;
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  width: 100%;
}
.logout {
  background-color: #adaeb7;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
